@font-face {
  font-family: 'Roboto-Thin';
  src: url('./Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Raleway-Black';
src: url('./Raleway-Black.ttf');
}

@font-face {
  font-family: 'ProximaNova-Light';
src: url('./ProximaNova-Light.ttf');
}

@font-face {
  font-family: 'ProximaNova-Regular';
src: url('./ProximaNova-Regular.ttf');
}

@font-face {
  font-family: 'ProximaNova-Semibold';
src: url('./ProximaNova-Semibold.ttf');
}

@font-face {
  font-family: 'ProximaNova-Bold';
src: url('./ProximaNova-Bold.ttf');
}

@font-face {
  font-family: 'Klyakson';
src: url('./Klyakson.otf');
}